main#main.main.scrollspy
  .container
    .row
      .col.s12
        h2.main-title.main--title Marco Condori
        p.main-subtitle.main--subtitle Ux Designer. Front end Developer. Art Director.
      .col.s12
        p.main-title__header Un poco sobre mí
  .container
    .row
      .col.s12.l6
        ul.main-skills
          li.main-skill.row
            .col.s12.m3
              .main-skill__title Perfil
            .col.s12.m9
              .main-skill__description UX Designer Frontend developer Art Director
          li.main-skill.row
            .col.s12.m3
              .main-skill__title Redes Sociales
            .col.s12.m9
              .main-skill__description 
                each item in social
                  a(href=item.url target='_blank').main-skill__description--icon
                    i(class='material-icons icon-'+ item.title)
          li.main-skill.row
            .col.s12.m3
              .main-skill__title Habilidades
            .col.s12.m9.main-skill__content
              each skill in skills
                .main-skill__linear(class='p-' + skill.value)
                  span.main-skill__linear--name= skill.name
                  span.main-skill__linear--value= skill.value
                  
                //-.main-skill__circle
                  .c100.small(class='p' + values[counte])
                    span= values[counte] + "%"
                    - counte++
                    .slice
                      .bar
                      .fill
                  p.main-skill__name= val
          li.main-skill.row
            .col.s12.m3
              .main-skill__title Contacto
            .col.s12.m9
              a.main-skill__description(href="mailto:marco.condoric@gmail.com") marco.condoric@gmail.com
          
      .col.s12.l6
        p.main-description  Estudiante de la carrera ingeiría de sistemas, considerado como una persona responsable, dinámica y creativa, con facilidad de adaptación y capacidad de trabajar en equipo, con iniciativa para resolver problemas eficientemente y lograr las metas y objetivos trazados.
        p.main-description  Ademas, amante de la educación, es por ello que en sus tiempos libres se dedica a compartir sus habilidades en redes sociales o mediante a talleres.
        //-p.main-author Saludos.